.wrapper{
    margin: 10px;
}

.boxItem{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img{
    position: relative;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.image{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.title{
    cursor: pointer;
}

.type{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background: #403f83;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    padding: 7px 10px;
}

.dayTime{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
    color: #727272;
}

.subName{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
    color: #727272;
}